body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #575252; /* Dark background */
    color: #532222; /* Ensure text is readable on dark background */
}

.container {
    background-color: rgba(193, 215, 46, 0.8); /* Semi-transparent background with the specified color */
    padding: 20px; /* Increased padding for better spacing */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Increased shadow for better visibility */
    text-align: center;
    width: 80%;
    height: 90%;
    max-width: none; /* Remove maximum width constraint */
    max-height: none; /* Remove maximum height constraint */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 10px; /* Increased margin for better spacing */
    font-size: 2em; /* Increased font size */
    color: #ffffff; /* Ensure heading is readable on dark background */
}

#reminderForm {
    margin-bottom: 0px; /* Add margin below the form */
}

#reminderForm label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

#reminderForm input[type="text"],
#reminderForm input[type="color"],
#reminderForm textarea,
#reminderForm select {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#reminderForm button,
.styled-button {
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#reminderForm button:hover,
.styled-button:hover {
    background-color: #45a049;
}

#showRemindersButton {
    margin-top: 20px; /* Add margin above the "Show All Reminders" button */
}

#reminderTableContainer {
    margin-top: 20px;
    width: 100%;
}

#reminderTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd; /* Add border to the table */
}

#reminderTable th,
#reminderTable td {
    border: 1px solid #ddd; /* Add border to table cells */
    padding: 8px; /* Add padding to table cells */
    text-align: center;
}

#reminderTable th {
    background-color: #4CAF50;
    color: white;
}

#reminderTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#reminderTable tr:hover {
    background-color: #ddd;
}