/* simple styling on the table results*/


#reminderTableContainer {
    margin-top: 5px;
    width: 50%;
}

#reminderTable {
    width: 50%;
    border-collapse: collapse;
}

#reminderTable th,
#reminderTable td {
    border: 1px solid #ddd;
    padding: 2px;
    text-align: center;
}





